form.signup,
form.login {
  margin-top: 50px;
}
.jumbotron {
  background-image:url('garage2.png');
  height:500px;
  background-repeat: no-repeat;
  background-size: cover;
 
}

footer {
  margin-top: 20px;
}
html {
  margin: 10px;  
  border-radius: 55px;  
}